<div class="card text-center">
    <div class="card-header">
        New!
    </div>

    <div class="card-body">
        <h5 class="card-title">{{newsDetails.header}}</h5>
        <img src="{{image}}" alt="An image">
        <p class="card-text">{{newsDetails.body}}</p>

        {{#if isAdmin}}

        <a href="/news/{{newsDetails._id}}/edit" class="btn btn-success">Edit new</a>
        <form action="/news/{{newsDetails._id}}/delete" method="POST">
            <input type="submit" value="Delete New" class="btn btn-danger m-3">
        </form>
    </div>

    {{/if}}

    {{#if isUser}}
    <div>
        <h4>Comments</h4>
        {{#each newsDetails.comments}}
        <hr>
        <h5>{{author.username}}</h5>
        <p>{{text}}</p>

        <form action="/news/{{_id}}/delete-comment" method="POST">
            <input type="submit" value="Delete comment" class="btn btn-danger btn-sm">
        </form>
        {{/each }}
    </div>



    <form action=" /news/{{newsDetails._id}}" method="POST">
        <div class="mb-3">
            <textarea type='text' class="form-control" id="text" rows="2" placeholder="Write a comment!"
                name="text"></textarea>
            <input type="submit" value="Submit comment" class="btn btn-light m-3">
        </div>
    </form>

    {{/if}}


    <div class="card-footer text-muted">
        {{newsDetails.link}}
    </div>
</div>